<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
  <h1>Test</h1>
  <form action="/test/{{formId}}" method="post">
    <input type="text" name="username" placeholder="Username" required>
    {{#each questions}}
      <fieldset>
        <legend>{{this.question}}</legend>
        <label><input type="radio" name="q{{this.id}}" value="1"> {{this.option1}}</label>
        <label><input type="radio" name="q{{this.id}}" value="2"> {{this.option2}}</label>
        <label><input type="radio" name="q{{this.id}}" value="3"> {{this.option3}}</label>
      </fieldset>
    {{/each}}
    <button type="submit">Submit Test</button>
  </form>
</body>
</html>